In [5]:
import os
import pandas as pd

In [47]:
path = os.path.join(os.getenv("PROCESSED_DIR","./data/processed"), "tables", "labs.parquet")
df = pd.read_parquet(path)
df

,analyte,value,unit,ref_low,ref_high,flag,date,page,vendor,source,source_type
0,MH59255,28.0,None,NaN,NaN,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
1,Date Collected: 03/18/2024,3.0,None,NaN,NaN,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
2,Iron Bind.Cap.(TIBC),261.0,None,250.0,450.0,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
3,UIBC 01,170.0,None,111.0,343.0,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
4,Iron 01,91.0,None,38.0,169.0,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
...,...,...,...,...,...,...,...,...,...,...,...
549,Total WBCs,4.6,%,3.8,6.0,None,2023-12-07,12,Ways2Well,data/labs/Ways2Well_20231207.pdf,labs
550,Lymphocytes - %,35.2,%,30.0,35.0,None,2023-12-07,12,Ways2Well,data/labs/Ways2Well_20231207.pdf,labs
551,Monocytes - %,9.6,%,4.0,7.0,None,2023-12-07,12,Ways2Well,data/labs/Ways2Well_20231207.pdf,labs
552,Eosinophils - %,5.2,%,0.0,3.0,None,2023-12-07,12,Ways2Well,data/labs/Ways2Well_20231207.pdf,labs
553,Basophils - %,1.1,%,0.0,1.0,None,2023-12-07,12,Ways2Well,data/labs/Ways2Well_20231207.pdf,labs

In [48]:
df[df['vendor'] == 'Ways2Well']

,analyte,value,unit,ref_low,ref_high,flag,date,page,vendor,source,source_type
389,Glucose - Fasting,81.00,mg/dL,75.0,86.0,None,2023-06-03,32,Ways2Well,data/labs/Ways2Well_20230603.pdf,labs
390,Hemoglobin A1C,4.70,%,4.6,5.3,None,2023-06-03,32,Ways2Well,data/labs/Ways2Well_20230603.pdf,labs
391,eAG,88.19,mg/dl,85.0,105.0,None,2023-06-03,32,Ways2Well,data/labs/Ways2Well_20230603.pdf,labs
392,Insulin - Fasting,3.20,µIU/ml,2.0,5.0,None,2023-06-03,32,Ways2Well,data/labs/Ways2Well_20230603.pdf,labs
393,Triglyceride-Glucose Index (TyG),4.20,Index,0.0,4.4,None,2023-06-03,32,Ways2Well,data/labs/Ways2Well_20230603.pdf,labs
...,...,...,...,...,...,...,...,...,...,...,...
549,Total WBCs,4.60,%,3.8,6.0,None,2023-12-07,12,Ways2Well,data/labs/Ways2Well_20231207.pdf,labs
550,Lymphocytes - %,35.20,%,30.0,35.0,None,2023-12-07,12,Ways2Well,data/labs/Ways2Well_20231207.pdf,labs
551,Monocytes - %,9.60,%,4.0,7.0,None,2023-12-07,12,Ways2Well,data/labs/Ways2Well_20231207.pdf,labs
552,Eosinophils - %,5.20,%,0.0,3.0,None,2023-12-07,12,Ways2Well,data/labs/Ways2Well_20231207.pdf,labs
553,Basophils - %,1.10,%,0.0,1.0,None,2023-12-07,12,Ways2Well,data/labs/Ways2Well_20231207.pdf,labs

In [49]:
df[df['vendor'] == 'LabCorp']

,analyte,value,unit,ref_low,ref_high,flag,date,page,vendor,source,source_type
0,MH59255,28.0,None,NaN,NaN,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
1,Date Collected: 03/18/2024,3.0,None,NaN,NaN,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
2,Iron Bind.Cap.(TIBC),261.0,None,250.0,450.0,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
3,UIBC 01,170.0,None,111.0,343.0,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
4,Iron 01,91.0,None,38.0,169.0,None,2024-03-18,1,LabCorp,data/labs/LabCorp_20240318.pdf,labs
...,...,...,...,...,...,...,...,...,...,...,...
384,"Triiodothyronine (T3), Free 01",3.1,None,2.0,4.4,None,2025-03-27,4,LabCorp,data/labs/LabCorp_20250327.pdf,labs
385,Apolipoprotein B 03,62.0,None,NaN,90.0,None,2025-03-27,4,LabCorp,data/labs/LabCorp_20250327.pdf,labs
386,425-417-3604,877.0,None,NaN,NaN,None,2025-03-27,4,LabCorp,data/labs/LabCorp_20250327.pdf,labs
387,05/26/1995,21025370.0,None,NaN,NaN,None,2025-03-27,4,LabCorp,data/labs/LabCorp_20250327.pdf,labs
388,Reference Interval,13.0,%,13.0,17.7,None,2025-03-27,5,LabCorp,data/labs/LabCorp_20250327.pdf,labs